.spinner {
  display: inline-block;
  
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  border-style: solid;
  border-color: rgba(255,255,255,.3);
  border-top-color: #fff;
  border-radius: 50%;
  &.small {
   border-width: 2px;
  }
  &.medium {
    border-width: 2px;
  }
  &.large {
    border-width: 2px;
  }
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}